
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a demo application for using Auth0 with .net Core 2.2</p>
    
    <a href="~/account/login" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs"><path d="M15 3h6v18h-6M10 17l5-5-5-5M13.8 12H3"/></svg> Login</a>

</div>
